body {
}


nav.navbar-default {
margin-top:150px !important;
margin-bottom:150px !important;
}

a.dropdown-toggle {
    color: #F00 !important;
    font-size: large;
}

li.dropdown {
    margin-left:10vw;
    width: 10vw;
    align-items: center;
    background-color: lightgray;
}
